.container {
  width: 600px;
  margin: 20px auto;

  h2 {
    margin: 0px 10px;
    height: 70px;
    font-size: 48px;
    display: block;
    line-height: 70px;
    text-align: center;
    background-color: #ffffff;
    color: #0966c2;
    border-radius: 10px;
    text-transform: uppercase;
    box-shadow: 2px 10px 20px #cccccc;
  }

  &_tab {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    text-transform: uppercase;
    p {
      border-bottom: 4px solid transparent;
      border-radius: 8px;
    }
  }
}

.active {
  border-bottom: 4px solid #0966c2;
  border-radius: 8px;
}
